<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>

        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <connectionStrings>
    <add name="AppEntities" connectionString="metadata=res://*/Model.ccModel.csdl|res://*/Model.ccModel.ssdl|res://*/Model.ccModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOSSQLEDV01\Dev,8190;initial catalog=CustomerCare;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SendEmailMode" value="test" />
    <!-- If configured to not send emails, this is the email address that will be sent the emails (semi-colon separated list of email addresses) -->
    <add key="TestEmail" value="dusov@LaingORourke.com,rsadalkar@LaingORourke.com,jisaacs@laingorourke.com" />
    <!-- The email address used to send system emails -->
    <add key="ApplicationEmail" value="rsadalkar@LaingORourke.com" />
    <add key="FvApiEmail" value="businesssystems@LaingORourke.com,laingorourke@service-now.com" />
    <!-- The name of the SMTP Server -->
    <!--<add key="Application_SMTPServer" value="eurelay.group.local" />-->
    <add key="Application_SMTPServer" value="eurelay.group.local" />
    <!-- The system URL (this is embedded into the emails) -->
    <add key="ApplicationUrl" value="https://Customercare.web" />
    <add key="DashboardUrl" value="https://app.powerbi.com/groups/me/apps?noSignUpCheck=1" />
    <add key="FV_API_URL" value="https://www.priority1.uk.net/FieldViewWebServices/WebServices/"/>
    <add key ="SOAP_ACTION_URL" value="https://localhost.priority1.uk.net/Priority1WebServices/"/>
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>

    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="L:\AppLogs\CustomerCare\CustomerCare_FVAPIConsole_%date{yyyyMM}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM" />

      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %identity - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>